.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }

  .conversationWrapper {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.conversationWrapper:hover {
  background-color: #f1f1f1;
}

.conversationWrapper.active {
  background-color: #d0e7ff;
  font-weight: bold;
  border-left: 6px solid #1475f3;
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.chatHeaderLeft {
  display: flex;
  align-items: center;
}

.chatHeaderImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chatHeaderName {
  font-weight: 500;
  font-size: 16px;
}

.chatHeaderRight i {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.shareEmoji{
  font-size: 30px;
  cursor: pointer;
}

  .emojiPicker{
    position: absolute;
    bottom: 110px;
    left: -20px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(235, 95, 95, 0.1);
    border-radius: 10px;
  }

